*{
  font-family: 微軟正黑體;
}
body{
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  color: #ffffff;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}
.resume{
  display: flex;
  max-width: 900px;
  border: solid  8px rgba(246, 230, 181, 0.7);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
img
{
  display: flex;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  display: block;
  margin-left: 30px;
}
h1{
  color:white;
  margin-left: 30px;
}
.block{
  margin-top: 30px;
}
h2{
  color: #f6e6b5;
}
.Diploma{
  padding-left: 30px;
}
.listSkill{
    display: flex;
    flex-wrap: wrap;
  }
  
  .listSkill li{
    width: 25%;
    padding: 5px;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
  }  
.circle{
    width: 50px;
    height: 50px;
    background-color: #f6e6b5;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background-color: rgba(254, 163, 38, 0.4);
  }
  .circle::after{
    content: "";
    display: block;
    background-color: #4B6682;
    width: calc(100% - 20px);
    height: calc(100% - 20px);  
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
.p90,.p180,.p270,.p360{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    background-color: #fea326;
  }
  .p90{
    top: 0;
  }
  .p180{
    top: 50%;
  }
  
  .p270{
    left: 0;
    top: 50%;
  }
  
  .p360{
    left: 0;
    top: 0;
  }  
  
  .left{
    flex: 5;
  }
  .right{
    flex: 6;
  }
  .left,.right{
    padding: 15px;
  }
  .left{
   padding-right: 40px;
   border-right: dashed 3px #f6e6b5;
  }
  
  .right{
   padding-left: 50px;
    padding-top: 20px;
  }
  .listExperience>li{
    display: flex;
    margin-bottom: 10px;
  }
  
  .listExperience>li:nth-child(1) ul{
    border-color: #fea326;
  }
  .listExperience>li:nth-child(2) ul{
    border-color: #b7b16e;
  }
  .listExperience>li:nth-child(3) ul{
    border-color: #95B78E;
  }
  .listExperience>li:nth-child(4) ul{
    border-color: #77beae;
  }
  .listExperience li ul{
    padding-left: 10px;
    margin-left: 10px;
    border-left: solid 3px white;
  }
  ul{
    padding: 0;
    list-style: none;
  }
  a{
    color: white ;
    text-decoration: none;
  }